.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 300px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.card h1, p, b, a {
    overflow-wrap: break-word;
}

.card img {
    max-width: inherit;
}

.title {
    color: grey;
    font-size: 18px;
}

.background {
    max-width: 280px;
    width: 280px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
.checked {
    color: orange;
}

button:hover, a:hover {
    opacity: 0.7;
}